/*============== Footer CSS ================*/
.footer-area {
    background: #278D6C;
}

.footer-content-left img {
    max-width: 120px;
    @include mx-tablet{
        max-width: 110px;
    }
}

.footer-content-top {
    padding: 0px 0 60px;
    @include all-below-mobile-lg{
        padding: 0px 0 30px;
    }
}

.footer-content-left {
    padding: 50px 40px 10px 0;
    border-right: 1px solid #fff;
    @include all-below-mobile-lg{
        padding: 40px 15px 10px 0;
    }
}

.footer-content-right {
    padding: 50px 0 10px 40px;
    margin-top: 12px;
    @include all-below-mobile-lg{
        padding: 40px 0 10px 15px;
    }
}

.footer-social-icons a {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 34px;
    color: #fff;
    border-radius: 5px;
    margin-right: 17px;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-content-right h5 {
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    opacity: .8;
}

.footer-social-icons a:hover {
    background: #fff;
    color: #278D6C;
}

.footer-copyright {
    color: #fff;
    padding: 10px 0 40px;
}

.footer-copyright img {
    max-width: 110px;
    margin-left: 10px;
}

.footer-copyright span {
    opacity: .8;
    letter-spacing: 2px;
}
.footer-dots {
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-dots img {
    max-height: 400px;
    @include mx-tablet{
        max-width: 150px;
    }
}

.footer-dots.right {
    left: auto;
    right: 0;
}
.footer-leaf {
    position: absolute;
    left: -70px;
    top: -110px;
    z-index: 2;
    @include mx-desktops{
        left: -17px;
    }
    @include mx-tablet{
        left: -15px;
        top: -61px;
    }
}

.footer-leaf img {
    max-width: 130px;
}